.menu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  &__popup {
    position: absolute;
    pointer-events: none;
    min-width: 100%;
  }

  &__container {
    position: relative;
    pointer-events: auto;

    &--open {
      opacity: 1;
      visibility: visible;
    }

    &--closed {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__hover {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
