.DS_Store
node_modules
/bin
/lib
/app.js
/app.d.ts
/document.js
/document.d.ts
/error.js
/error.d.ts
/head.js
/head.d.ts
/index.js
/index.d.ts
/router.js
/router.d.ts
/store.js
/store.d.ts
.vscode
.rpt2_cache